/* media queries */

@media (max-width: 1150px) and (min-width: 881px) {
  header {
    padding: 1rem;
  }     
  header > a {
    font-size: 1.6rem;
  }
  .desk-nav li a{
    font-size: .8rem;
  }
  .cv-button {
    font: .6rem;
    padding: .4rem;
  }
}

@media (max-width: 880px) {
  header {
    padding: 2rem;
  }
  .desk-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 0rem;
    transition: .3s;
    top: -1000px;
  }

  .mobile-nav li a {
    font-size: 1.3rem;
  }

  .menu-button {
    display: flex;
    z-index: 999;
  }
  .home-text h2 {
    flex-wrap: wrap;
  }
  main {
    padding: 1rem;
  }

  #home {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #education {
    margin-top: 5rem;
    padding: 1rem;
  }
  .timeline {
    background-color: white;
  }
  .timeline ul {
    background-color: red;
  }

}
